<h2>All Figures</h2>
    <% @figures.each do |figure| %>
      <td align="center"><a href="/figures/<%= figure.id %>"><%= figure.name %></a></td>

      <% end %>
</table>
<br>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
